<style>
    .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
</style>

<section class="py-5 noselect" oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">
    <h1 class="display-3">
        Abstract
    </h1>
    <img src="/img/Screenshot1.png" alt="" class="img-fluid" alt="Responsive image"">
    <img src="/img/Screenshot2.png" alt="" class="img-fluid" alt="Responsive image"">

    <a href="/" class="btn btn-dark btn-lg align-middle">Go Back Home</a>
    
</section>